:root {
  --lh: 1.4rem;
}

html {
  line-height: var(--lh);
}

.truncate-overflow {
  --max-lines: 10;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem;
}

.truncate-overflow::before {
  position: absolute;
  content: "...";
  bottom: 0;
  right: 0;
}

.truncate-overflow::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
}




/* https://www.freecodecamp.org/news/how-to-truncate-text-with-css-javascript/ */
